name: Documentation Build

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  doc-build-html:
    name: "Build Doxygen documentation"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:

    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y doxygen build-essential

    - name: Build documentation
      run: |
        make docs
